!!!
%html
  %head
    %title CI
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = csrf_meta_tags

  %body.login

    .signin
      = link_to '/auth/github', class: "octosignin" do
        %i.icon-github-sign
