!!!
%html
  %head
    %title Vexor CI
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body.signin
    .container
      - unless any_providers_enabled?
        .alert.alert-danger
          Cannout found conguration for Github or Gitlab.

      .row

        - if github_enabled?

          .github

            %a{ href: "/auth/github", title: "Login with Github" }

              %h3.title
                Github
              = image_tag 'octokat.svg', alt: "Octokat", title: "Octokat"
              = button_tag "With Github", class: "btn btn-success"

        - if gitlab_enabled?

          .gitlab
            %h3.title
              Gitlab

            = form_tag auth_gitlab_session_path, class: "form" do
              - user = gitlab_user_session
              .form-group
                = email_field_tag "gitlab_user_session[email]", user.email, class: "form-control email", placeholder: "Email"
                = password_field_tag "gitlab_user_session[password]", user.password, class: "form-control password", placeholder: "Password"
              .form-group
                = select_tag "gitlab_user_session[host]", options_for_select(user.hosts, user.host), class: "form-control"
              .form-group
                = submit_tag "With Gitlab", class: "btn btn-success"
