!!!
%html
  %head
    %title Vexor CI
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body.signin
    .container
      - unless any_providers_enabled?
        .alert.alert-danger
          Cannout found conguration for Github or Gitlab.

      .row

        - if github_enabled?

          .github

            %a{ href: "/auth/github", title: "Login with Github" }

              %h3.title
                Github
              = image_tag 'octokat.svg', alt: "Octokat", title: "Octokat"
              = button_tag "With Github", class: "btn btn-success"
