!!!
%html
  %head
    %title Vexor CI
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body.sign-in
    .container

      .sign-in-header
        %h1 Vexor CI
        %p
          Vexor CI is continius integration and deploy service.

      %hr

      .sign-in-providers

        - unless any_providers_enabled?
          .alert.alert-danger
            Cannout found any conguration for Github

        - if github_enabled?

          .sign-in-github-provider

            %a{ href: omniauth_authorize_url(:github, :sign_in) }

              = image_tag 'octokat.svg', alt: "Octokat", title: "Octokat"
              %span
                Sign in via Github
