.session-providers

  - unless @signup.valid?
    .alert.alert-danger
      - @singup.company.errors.full_messages.each do |e|
        %p= "Company: #{e}"
      - @signup.user.errors.full_messages.each do |e|
        %p= "User: #{e}"

  = render 'form'
