!!!
%html{ "ng-app" => "CI" }
  %head
    %title CI
    = javascript_include_tag '//fast.fonts.net/jsapi/c654eab5-cc1f-4293-9e41-d092d79c8d33.js'
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body

    .container

      %ng-include{ 'src' => "\"#{asset_path 'assets/layouts/menu.html' }\"" }

      .ng-view

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js'
    = javascript_include_tag '//cdn.jsdelivr.net/restangular/latest/restangular.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js'
    = javascript_include_tag 'application'
