!!!
%html{ "ng-app" => "CI" }
  %head
    %title CI
    %meta{ 'http-equiv' => 'Content-Type', 'content' => "text/html; charset=utf-8" }
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body

    .container

      %ng-include{ 'src' => "\"#{asset_path 'assets/layouts/menu.html' }\"" }

      .ng-view{'ng-animate' => "{enter: 'animate-enter', leave: 'animate-leave'}"}

    = javascript_include_tag 'lib'
    = javascript_include_tag 'application'

