!!!
%html{ "ng-app" => "CI" }
  %head
    %title CI
    %meta{ 'http-equiv' => 'Content-Type', 'content' => "text/html; charset=utf-8" }
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body{ data: { "pusher-key" => ENV['CI_WEB_PUSHER_KEY'] } }

    .container

      %ng-include{ 'src' => "\"#{asset_path 'layouts/menu.html' }\"" }

      .ng-view{'ng-animate' => "{enter: 'animate-enter', leave: 'animate-leave'}"}

    = javascript_include_tag 'http://js.pusher.com/2.1/pusher.min.js'
    = javascript_include_tag 'lib'
    = javascript_include_tag 'application'

