!!!
%html{ "ng-app" => "Vx" }
  %head
    %title CI
    %link{ 'rel' => "icon", 'type' => 'image/png', 'href' => '/favicon.png' }
    %meta{ 'http-equiv' => 'Content-Type', 'content' => "text/html; charset=utf-8" }
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body

    .container

      %ng-include{ 'src' => "\"#{asset_path 'layouts/menu.html' }\"" }

      .ng-view

    = javascript_include_tag 'lib'
    = javascript_include_tag 'application'

